*{
    box-sizing: border-box;
}

body {
background: url('https://source.unsplash.com/WLUHO9A_xik/1600x900');
}


.navbar {
    /* background-color: rgb(44, 43, 42); */
    overflow: auto;
    width: 1000px;
    padding-bottom: 14px;
    margin: auto;
    height: 56px;
}


.navbar ul {
    list-style: none;
    align-items: baseline;
    
    
}
.navbar li {
    border: 2px sandybrown;
    background-color: seagreen;
}
.navbar ul li a{
    text-decoration: none;
    float: left;
   padding: 6px;
   margin: 2px;
   color: ivory;

}
.search{
    float: right;
    margin: auto;
    cursor: pointer;
}

.button{
    float: right;
    margin-right: 48px;
    cursor: pointer;
}




.meso{
    color: goldenrod;
    font-size: 150px;
    text-align: center;
    margin: 40px;
    text-align: center;
    width: 1500px;
    /* background-color: rgb(211, 211, 185) */
    
}

h1 {
    /* background-color: rgb(218, 167, 167); */
    color: red;
    font-size: 50px;
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
    
}

h3 {

    font-size: 40px;
    color:#be4c4c;
    text-align: center;
    width: 1000px;
    margin: auto;
    line-height: 3em;
}
.wa{
    color: lightyellow;
    text-align: center;
    margin: auto;
    width: 1000px;
    line-height: 20em;
   
}
